/*
 * Estilos para el modulo de notas marginales.
 */

/* El contenido se desplaza hacia abajo porque usamos una barra de navegación fija de 50px */
body {
  padding-top: 85px;
}

/*
 * Barra de navegación superior
 * Se elimina el borde por defecto de 1px.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 85px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Si el contenido es mayor al visor, se hace scroll */ 
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
  }
}

/* Navegación del sidebar  */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  font-style: italic;
  color: #FFF;
  background-color: #808080;
}


/*
 * Contenido principal.
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* Barra superior */
.navbar { min-height: 85px; }

.navbar-inverse { 
    background-color: #CCC;
 }

.navbar-inverse .navbar-brand { color: #808080; }

.navbar-inverse .navbar-nav > li > a {  color: #808080; }

