<div class="col-md-6 column">
<h3>
    Digitalizar documentos
</h3>
<p>
Los siguientes documentos requieren digitalizarse. Escanee si es necesario, y seleccione la ruta del archivo.
</p>
<ul>
    <li>Decisión judicial</li>
</ul>
<form role="form">
    <div class="form-group">
        <label for="decision_01">Archivo digital de <strong>Decisión Judicial</strong></label><input type="file" class="form-control" id="decision_01" />
    </div>
</form><img alt="140x140" src="http://lorempixel.com/140/140/" />
</div>
</div>
<br><br>
<div class="row clearfix">
    <div class="col-md-6 column">
        <button type="button" class="btn btn-primary">Aceptar</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-warning">Cancelar</button>
    </div>
</div>
