<div class="col-md-12 column form-group">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nro. de nota
                </th>
                <th>
                    Tipo de nota
                </th>
            </tr>
        </thead>
        <tbody>
            <tr><td><a href="#/select">23423</a></td><td>Nulidad de adopción</td></tr>
            <tr><td><a href="#">54353</a></td><td>Separación de cuerpos</td></tr>
            <tr><td><a href="#">12534</a></td><td>Revocatoria o Pérdida de la Nacionalidad Venezolana</td></tr>
        </tbody>
    </table>
</div>
