<div class="col-md-12 column form-group">
<h3>
    Nota Marginal de Nulidad de Adopción
</h3>

<form role="form">

    <div class="row">
        <div class="col-md-8 column">
            <label for="tribunal">Tribunal</label><input type="text" class="form-control" id="tribunal" />
        </div>
        <div class="col-md-4 column">
            <label for="juez">Juez</label><input type="text" class="form-control" id="juez" />
        </div>
    </div>

    <h4>Datos de la sentencia que anula la Adopción</h4>

    <div class="row">
        <div class="col-md-4 column"><label for="tribunal">N° Sentencia</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">N° Expediente</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Fecha</label><input type="text" class="form-control" id="tribunal" /></div>
    </div>

    <h4>Datos del adoptado</h4>

    <div class="row">
        <div class="col-md-4 column"><label for="tribunal">Nombres</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Apellidos</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Cédula de Identidad</label><input type="text" class="form-control" id="tribunal" /></div>
    </div>

    <h4>Datos de los adoptantes</h4>

    <div class="row">
        <div class="col-md-4 column"><label for="tribunal">Nombres</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Apellidos</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Cédula de Identidad</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Nombres</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Apellidos</label><input type="text" class="form-control" id="tribunal" /></div>
        <div class="col-md-4 column"><label for="tribunal">Cédula de Identidad</label><input type="text" class="form-control" id="tribunal" /></div>
    </div>

    <div class="row clearfix"><div class="col-md-12 column"><br><br></div></div>

    <div class="row">
        <div class="col-md-4 column">

        </div>
        <div class="col-md-4 column">
            <label for="tribunal">Lugar</label><input type="text" class="form-control" id="tribunal" />
        </div>
        <div class="col-md-4 column">
            <label for="tribunal">Fecha</label><input type="text" class="form-control" id="tribunal" />
        </div>
    </div>
</form>
<br>
<a href="#/preview" class="btn-primary btn">Vista Previa</a>
<button type="button" class="btn btn-danger">Cancelar</button>
</div>
