<div class="col-md-12 column">

<h2>
    La Nota Marginal ha sido creada
</h2>
<br>
<div class="alert alert-success" role="alert">
    <h4>
        ¡Éxito!
    </h4>
    La nota marginal <a href="#">#2345</a> con motivo de "Nulidad de Adopción" ha sido exitosamente creada y adjuntada al expediente <a href="#">C2348E32</a>. La solicitud se encuentra en estatus: <strong>Pendiente por certificación</strong>. Las entidades competentes han sido notificadas.
</div>
<a href="#/inbox" class="btn-primary btn">Aceptar</a>
</div>
</div>
