<div class="col-md-12 column">
    
    <div class="page-header">
        <h3>
            Ingreso de datos para generación de nota marginal
        </h3>
    </div>
    <br>
</div>

<div class="row clearfix">
<div class="col-md-9 column well">
    <h3>
        Datos de la solicitud
    </h3>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <table class="table">

                <tbody>
                    <tr>
                        <td>
                            <label>Nro. de solicitud:</label>
                        </td>
                        <td>
                            #239874	
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Trámite a realizar:</label>
                        </td>
                        <td>
                            Generación de nota marginal
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="col-md-6 column">
            <table class="table">

                <tbody>
                    <tr>
                        <td>
                            <label>Tipo de solicitud:</label>
                        </td>
                        <td>
                            Por tribunal
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Estatus:</label>
                        </td>
                        <td>
                            Abierto
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>Fecha de registro:</label>
                        </td>
                        <td>
                            11/03/2015
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>	<!-- end column -->
</div> <!-- end row -->

<div class="row clearfix">
    <div class="col-md-9 column well">
        <h3>Tipo de nota marginal</h3>
        <div class="row clearfix">
            <div class="col-md-6 column">

	      <div class="form-group">

		<select
		   id="tipo_nota"
		   class="form-control"
		   ng-model="tipo_nota_marginal"
		   ng-options="tipo.nombre for tipo in tiposNotaMarginal"
		   >
		  <option value="">--- Seleccione el tipo de nota marginal ---</option>
		</select>
		<br>
		
	      </div>

              <div class="row clearfix">
                </div>
                <div id="requisitos_div">
                    <h4>Recaudos</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Documento</th><th>Presente?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Decisión judicial</td><td class="text-center"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Copia de la nueva acta de nacimiento</td><td class="text-center"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Copia del acta de nacimiento original</td><td class="text-center"><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div> <!-- end column -->
</div> <!-- end row -->

<div class="row clearfix hide">
    <div class="col-md-9 column well">
        <h3>Datos de la persona involucrada</h3>

        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="form-group">
                    <label for="ci">Cédula de identidad:</label>
                    <input type="text" class="form-control" id="ci">
                </div>
                <div class="form-group">
                    <label for="role">Rol:</label>
                    <select class="form-control" id="role">
                        <option>Ciudadano objeto del acta</option>
                        <option>Solicitante o Apoderado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="optradio">Último involucrado:</label>
                    <label class="radio"><input type="radio" name="optradio" checked="true">Sí</label>
                    <label class="radio"><input type="radio" name="optradio">No</label>
                </div>
            </div>
        </div>
    </div> <!-- end column -->
</div> <!-- end row -->

<div class="row clearfix" id="recaudos_button_div">
    <div class="col-md-2 column">
        <a href="#/input" class="btn-primary btn">Recaudos conformes</a>
    </div>

    <div class="col-md-2 column">
        <button type="button" class="btn-danger btn" id="reject_request_btn">Recaudos no conformes</button>
    </div>
</div>
</div> <!-- end container -->
<br>

<div id="form-digitalizacion" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Digitalizar documentos</h3>
    </div>

    <div class="modal-body">
        <p>Los siguientes documentos requieren digitalizar:</p>
        <ul>
            <li>Decisión Judicial</li>
        </ul>
        <p>Seleccione la ruta del archivo digital:</p>
        <form class="contact" name="contact">
            <label class="label" for="archivo">Seleccionar archivo</label><br>
            <input type="file" name="archivo" class="input-xlarge"><br>
        </form>
    </div>
    <div class="modal-footer">
        <input class="btn btn-success" type="submit" value="Listo" id="submit">
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
    </div>

    <script type="text/javascript">
$(function() {
    $('#requisitos_div').hide();
    $('#recaudos_button_div').hide();

    $('#tipo_nota').change(function () {
        if ($(this).val() == "nulidad_adopcion") {
            $('#requisitos_div').show();
            $('#recaudos_button_div').show();

        } else {
            $('#requisitos_div').hide();
            $('#recaudos_button_div').hide();
        }
    });

    $('#reject_request_btn').click(function () {
        alertify.confirm("Está seguro de que desea actualizar la solicitud de nota como 'Rechazada'?'", function(result) {
            if (result) {                                             

            } else {

            }
        });
    });

});
    </script>
