<div class="col-md-12 column">

<h2>
    La Nota Marginal ha sido cancelada
</h2>
<br>
<div class="alert alert-danger" role="alert">

    <h4>
        Solicitud cancelada
    </h4>
    La presente solicitud de nota marginal ha quedado <strong>Cancelada por recaudos no conformes</strong>. Las entidades competentes han sido notificadas.
</div>
<button type="button" class="btn btn-primary">Aceptar</button>
</div>
