<div class="col-md-12 column form-group">
    <h3>
        Nota Marginal de Nulidad de Adopción
    </h3>
    <div class="well">

        <div class="row">
            <div class="col-md-2 column">
                <label>Tribunal:</label>
            </div>
            <div class="col-md-10 column">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit 
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 column">
                <label>Juez:</label>
            </div>
            <div class="col-md-10 column">
                Juan Perez González Segundo
            </div>
        </div>
        <br>
        <h4>Datos de la sentencia que anula la Adopción</h4>

        <div class="row">
            <div class="col-md-2 column"><label>N° Sentencia:</label></div><div class="col-md-2 column">34342</div>
            <div class="col-md-2 column"><label >N° Expediente:</label></div><div class="col-md-2 column">C3489279E32</div>
            <div class="col-md-2 column"><label >Fecha:</label></div><div class="col-md-2 column">30/03/2015</div>
        </div>
        <br>
        <h4>Datos del adoptado</h4>

        <div class="row">
            <div class="col-md-2 column"><label>Nombres:</label></div><div class="col-md-2 column">Carlos Eugenio</div>
            <div class="col-md-2 column"><label>Apellidos:</label></div><div class="col-md-2 column">López Angulo</div>
            <div class="col-md-2 column"><label>Cédula de Identidad:</label></div><div class="col-md-2 column">V-39.234.103</div>
        </div>
        <br>
        <h4>Datos de los adoptantes</h4>

        <div class="row">
            <div class="col-md-2 column"><label>Nombres:</label></div><div class="col-md-2 column">Johnny Pedro</div>
            <div class="col-md-2 column"><label>Apellidos:</label></div><div class="col-md-2 column">Machado Guevara</div>
            <div class="col-md-2 column"><label>Cédula de Identidad:</label></div><div class="col-md-2 column">V-19.334.143</div>
        </div>
        <div class="row">
            <div class="col-md-2 column"><label>Nombres:</label></div><div class="col-md-2 column">María Laura</div>
            <div class="col-md-2 column"><label>Apellidos:</label></div><div class="col-md-2 column">Visconti</div>
            <div class="col-md-2 column"><label>Cédula de Identidad:</label></div><div class="col-md-2 column">V-15.774.144</div>
        </div>

        <div class="row clearfix"><div class="col-md-12 column"><br><br></div></div>

        <div class="row">
            <div class="col-md-2 column">
                <label for="tribunal">Lugar</label>
            </div>
            <div class="col-md-10 column">
                Oficina de Registro civil de La Candelaria. Departamento de adopción. Municipio Libertador.  
            </div>
        </div>
    </div>
    <div class="row checkbox">
        <div class="col-md-12 column"><label><input type="checkbox"/>Confirmo que los datos registrados en la nota son válidos y acepto los <a href="#">términos legales y condiciones</a></label></div>
    </div>
    <br><br>
    <a href="#/created" class="btn-primary btn">Generar Nota Marginal</a>
    <a href="#/input" class="btn-warning btn">Corregir Nota</a>
</div>
